*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
.kotlin
hs_err_pid*.log
replay_pid*.log
.kotlin
hs_err_pid*.log
replay_pid*.log

